@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

div.section h1 {
    font-size: 120%;
}

div.section h1:before {
    content: "timur.sultanaev@resume> ";
}

div.section h2 {
    font-size: 140%;
}

div.section h3 {
    font-size: 150%;
}

div.sphinxsidebarwrapper h1 {
    font-size: 90%;
}

div.sphinxsidebarwrapper h2 {
    font-size: 110%;
}

div.sphinxsidebarwrapper h3 {
    font-size: 130%;
}

div.body {
    min-width: 300px;
}

body {
    overflow-y: scroll;
}

.sphinxsidebar {
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    direction: rtl;
}

.sphinxsidebarwrapper {
    direction: ltr;
}

.sphinxsidebar::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
  
.sphinxsidebar::-webkit-scrollbar-thumb {
    background: #f0f0f0; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ababab; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

img.logo {
    border-radius: 50%;
}